 /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/merriweather-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* merriweather-900 - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/merriweather-v28-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v28-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

   /* header style start*/

  .wrepper {
      max-width: 1440px;
      margin: 0 auto;
  }
  .body{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
  }
  .header_wrepper{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
  }
  .header_list{
      display: flex;
      flex-wrap: wrap;
  }  
  .header_item{
      margin-right: 30px;
  }
  .header_item:last-child{
      margin-right: 20px;
  }
  .header_link{
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .header_link:hover, .header_link:focus, .header_link:active{
      opacity: .75;
  }
   /* header style end*/

   /* intro style start*/
   
   .intro{
    min-height: 100vh;
    background: url(../portolioo/assets/img/bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 250px;
    padding-right: 80px;
   }

   .intro_title{
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0px;

    padding-left: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin-bottom: 10px;
   }

   .intro_subtitle{
    height: 120px;
    left: 0%;
    right: 6%;
    top: 130px;
    max-width: 470px;
    padding-left: 80px;
    margin-bottom: 25px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
   }

   .intro_but{ 
    padding: 8px 72px;
    left: 80px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background:#BDAE82;
    color: #000000;
    border: 0; 
   }

   .intro_but:hover, .intro_but:focus, .intro_but:active{
       background-color: #DFCE9C;
   }

   .into_div_but{
    padding-left: 80px; 
   }
    /* intro style end*/

    /* skills style start*/

     .skills{
         height: 482px;
         background-color: #000000;
         
     }

     .ckills_logo{
        padding-left: 370px;
        padding-top: 100px;
     }

     .skills_cards{
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-column-gap: 32px;
         padding-top: 62px;
         margin-left: 20px;
         margin-right: 20px;
     }

     .skills_card_foto{
         margin-left: 107px;
     }

     .skills_card_mic{
        margin-left: 120px;
    }

    img{
        max-width: 100%;
        height: auto;
    }

     .skills_card_title{
        width: 280px;
        height: 40px;
        left: calc(50% - 280px/2);
        top: 100px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px; 
        text-align: center;
        color: #FFFFFF;
     }

     .skills_card_desc{
        width: 280px;
        height: 72px;
        left: calc(50% - 280px/2);
        top: 160px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 36px; 
        text-align: center;
     
        color: #FFFFFF;
     }
    /* skills style end*/

    /* porfolio style start*/

    .portfolio{
        height: 1500px;
        background-color: #000000;
    }

    .portfolio_logo{
        padding-left: 370px;
        padding-top: 100px;
    }

    
    
    .portfolio_div_but{
        margin-left: 272px;
        margin-top: 60px;
    }

    .portfolio_but{
       
        height: 55px;
        width: 220px;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;

        text-align: center;

        color: #BDAE82;
        background-color: #000;
        border-color:#BDAE82;
        bor
    }

    .portfolio_but:hover, .portfolio_but:focus, .portfolio_but:active{
        background-color: #BDAE82;
        color: #000;
    }
    
    .portfolio_div_pic{
        height: 1145px; 
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    /* porfolio style end*/

    /* video style start*/

    .video{
        height: 945px;
        background: #000;
    }

    .video_logo_pic{
        margin-top: 90px;
        padding-left: 370px;
        padding-right: 370px;
    }

    .video_video{
        position: relative;
        width: 1400px;
        height: 705px;
        background-image: url(../portolioo/assets/img/video-player.png);
        margin-top: 60px;
        margin-left: 50px;
        margin-right: 20px;

    }

    .video_pic_2{
         padding-left: 636px;
         padding-top: 288px;   
    }

    /* video style end*/

    /* price style start*/

    .price_logo_pic{
        margin-top: 90px;
        padding-left: 370px;
        padding-right: 370px;
    }

    .price{
        height: 845px;
        background: #000;
    }

    .price_items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        padding-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
       
    }

    .price_item{
        height: 505px;
        width: 450px;
        border: 2px solid #BDAE82;
        box-sizing: border-box;
        border-radius: 0px;
        
        background: #000;
    }

    .price_item_1{
        
        top: 43px;

        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 56px;

        text-align: center;

        color: #FFFFFF;
    }

    .price_item_2{
        
        top: 119px;

        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 48px;

        text-align: center;

        color: #BDAE82;
    }

    .price_item_3{
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;

        color: #FFFFFF;
    }

    .price_but{
        width: 220px;
        height: 55px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        background:#BDAE82;
        color: #000000;
        border: 2px solid #BDAE82;
        box-sizing: border-box;
        border-radius: 0px; 
    }
        
    .price_but:hover, .price_but:focus, .price_but:active{
        background-color: #000;
        color: #BDAE82;
    }

    .price_div_but{
        width: 220px;
        height: 55px;
        padding-top: 40px;
        padding-left: 115px;
    }

    /* price style end*/

    .footer{
        min-height: 150px;
        background-color: #000; 
    
     }
    
     .emb_div{
        display: inline-block;
     }
    
     .date_div{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 50px;
        display: inline-block;

        color: #FFFFFF;
     }
    
     .git_div{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 50px;
        display: inline-block;

        color: #FFFFFF;
     }

     .left{
         display: inline-block;
     }
    
     .roll_div{
         display: inline-block;
     }

     .roll{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 50px;
        display: inline-block;

        color: #FFFFFF;
     }
    
     .cotceti_div{
        display: inline-block;
     }

    /* contacts style start*/

    .contacts{
        background-image: url(../portolioo/assets/img/1_contacts\ \(1\).jpg);
        background-size: auto auto;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 700px;
        background-color: #000;

    }

    .contacts_div{
        padding-top: 60px;
        padding-right: 60px;
        padding-left: 970px;
    }

    .contacts_text{
        margin-top: 0px;
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 80px;

        color: #BDAE82;
    }

            input,
            textarea{
                width: 100%;
                min-height: 38px;
                padding: 5px 20px;
                border: 2px solid #BDAE82;
                color: #BDAE82;
                font-size: 20px;
                font-family: inherit;
                margin-bottom: 20px;
                background-color: transparent;
            }

            textarea{
                min-height: 90px;
                resize: none;
            }

            ::placeholder{
                font-family: inherit;
                font-size: 20px;
                color: #BDAE82;
            }

    .contacts_but{
        width: 220px;
        height: 55px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        background:#BDAE82;
        color: #000000;
        border: 2px solid #BDAE82;
        box-sizing: border-box;
        border-radius: 0px; 
    }
        
    .contacts_but:hover, .contacts_but:focus, .contacts_but:active{
        background-color: #000;
        color: #BDAE82;

    /* contacts style end*/

    /* footer style start*/



    /* footer style end*/

